.main_container {
    max-width: 1400px;
    margin: auto;
    padding: 1rem 0px;
}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(111, 118, 123);
    margin: 3rem 0px;
}

.lst_workout {
    max-width: 800px;
    margin: auto;
}

/* width */
.lst_workout::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.lst_workout::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 20px;
    margin: 5px 0 5px 0;

}

/* Handle */
.lst_workout::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ADA19B;
    height: 5px;
}

.workout-card {
    margin-bottom: 2rem;
    padding: 20px;
    border-radius: 8px;
    cursor: default;
    border: 1px solid white;
}

.workout-card:hover {
    border: 1px solid white;
}

.header_workout {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    place-content: center space-between;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.date {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #4D5256;
    margin: 0;
}

.performance-container {
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.performance {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: rgb(6, 115, 166);
    text-decoration: none;
    margin: 0;
}

.item_container {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 1rem;
}

.item-detail {
    text-transform: uppercase;
    line-height: 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: rgb(77, 82, 86);
}

.item-detail div {
    margin-bottom: 0.75rem;
}

.inform_workout {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #4D5256;
    font-style: italic;
    align-items: center;
    justify-content: center;
}

.value-type {
    margin-left: 1rem;
}

.fb_icon {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 3rem;
}

.fb_icon img {
    width: 30px;
    height: 30px;
}

.icon_heartRate {
    width: 25px;
    height: 25px;
    content: url('../../../assets/GTTIcons/WorkEx3/Calories.svg');
}

.icon_otf {
    width: 25px;
    height: 25px;
    content: url('../../../assets/images/icon_app.PNG');
}

.you {
    width: 20px;
    height: 18px;
    content: url('../../../assets/images/you.PNG');
}

.item-data {
    display: flex;
    flex-direction: row;
}

.item-data-detail {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 1rem;
    padding: 1rem 0px;
}

.value {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #000;
}