.container-challenge {
    margin-top: 2rem;
    margin-left: 40rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    max-width: 650px;
}

.calories {
    content: url('../../../assets/GTTIcons/WorkEx3/Calories.svg');
    width: 50px;
    height: 50px;

}

.splat-point {
    content: url('../../../assets/GTTIcons/WorkEx3/Heart\ Rate\ Monitor.svg');
    width: 50px;
    height: 50px;
}

.avg-heart-rate {
    content: url('../../../assets/GTTIcons/WorkEx3/Heart\ Rate.svg');
    width: 50px;
    height: 50px;
}

.heart-rate {
    content: url('../../../assets/GTTIcons/WorkEx3/Heart\ Rate\ Monitor\ Icon.svg');
    width: 50px;
    height: 50px;
}

.miles {
    content: url('../../../assets/GTTIcons/WorkEx3/Setting.svg');
    width: 50px;
    height: 50px;
}

.steps {
    content: url('../../../assets/GTTIcons/WorkEx/Loaners.svg');
    width: 50px;
    height: 50px;
}

.zone h1 {
    margin-top: 5rem;
    width: 100%;
    font-family: "Klavika Condensed";
    font-weight: bold;
    line-height: 29px;
    font-size: 22px;
    text-align: center;
    letter-spacing: 1.57143px;
    text-transform: uppercase;
    color: rgb(111, 118, 123);
}

.container-challenge div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.container-challenge div h1 {
    font-family: 'Source Sans Pro';
    font-size: 90px;
    line-height: 5rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    margin: 2rem 0px 0px;
}

.container-challenge div h1 span {
    display: block;
    font-family: 'Source Sans Pro';
    font-size: 30px;
    font-style: italic;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.5);
    margin: 20px 0px;
}