.left_sidebar {
  height: 40px;
  display: flex;
  /* justify-content: start; */
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}

.left_sidebar .active {
  display: flex;
  align-items: center;
  height: 40px;
  width: 240px;
  border-left: 2px solid #457900;
  background-color: #f3f3f3;
}
