.img-footer {
    margin: 1rem 0px;
}

.img-footer img {
    width: 100%;
}

.subscribe {
    border: 1px solid gray;
    padding: 2rem;
    margin: 3rem 0px;
}

.subscribe span {
    margin-left: 15rem;
    font-weight: normal;
    font-style: normal;
    line-height: 20px;
}