.sign-up-form {
    max-width: 500px;
    margin: auto;
    padding: 15rem 0;
}

.title-signup {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 22px;
}

.term-condititon {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin: 0.5rem 0px;
}

.term-condititon span {
    line-height: 28px;
}

.link {
    color: black;
    font-weight: lighter;
}

.btn-signup {
    margin-top: 1rem;
    background-color: #DFDFE9;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 18px;
}