.input-user {
    margin-top: 20px !important;
    width: 100% !important;
}

.error {
    color: red;
    font-family: 'Source Sans Pro';
    text-align: left !important;
}

.register {
    color: rgb(111, 118, 123);
    margin: 0.5rem 0px;
    font-size: 14px;
}